#project_info_background {
    -fx-background-image: url('../../image/project_info_background.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

#issue {
    -fx-background-image: url('../../icon/octicon--issue-opened-16.png');
}

#member {
    -fx-background-image: url('../../icon/tdesign--member.png');
}

#calendar {
    -fx-background-image: url('../../icon/white_famicons--calendar-sharp.png');
}

.item {
    -fx-border-color: '#999';
    -fx-border-width: 2;
    -fx-border-radius: 2;
}